

    <div class="outsideborder">

      <div class="content">


        <div class="event-details">
          <div class="event-title"><h1>Edit Details</h1></div>
          <%= render 'form' %>

        </div>


    </div>
<!--<%= link_to 'Show', @event %> |
# <%= link_to 'Back', events_path %> -->
