




    <div class="outsideborder">

      <div class="content">

        <input type="email" placeholder="Coinbase Email"></input>

        <input type="password" placeholder="Coinbase Password"></input>

        <a href="http://localhost:3000/events/1"><button type="submit" class="button-mobile">Log in with Coinbase</button></a>

          <div>
            <div class="getcoinbase">

              Don't have a Coinbase account?

            </div>

             <div class="getcoinbase">
              Get Coinbase.
            </div>

        </div>
      </div>

    </div>




